  <head>
    <meta charset="utf-8" />
    <script>
      var debug = true // <%-debug%>;
      if (!debug && window.location.protocol != "https:" && window.location.protocol != "file:")
          window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<%-__(`${app.name} – ${app.description}`)%> <%- app.url %>" />
    <meta name="author" content="https://github.com/CRYPTOFOUNDARY" />

    <title><%-__(`${app.name} – ${app.description}`)%></title>
    <link rel="stylesheet" href="/bootswatch/dist/darkly/bootstrap.css" />
    <link href="/css/styles.css" rel="stylesheet">
    <script>
      const SHARE = JSON.parse('<%-JSON.stringify(share)%>');
      
      var grecaptcha;
      if (!SHARE.recaptchaEnabled) grecaptcha = null;
      
      const PORT_SSL = SHARE.my_portSSL;
      const MAIN_COIN = SHARE.TRADE_MAIN_COIN;
      const DEFAULT_PAIR = SHARE.TRADE_DEFAULT_PAIR;
      const TRADE_COMISSION = SHARE.TRADE_COMISSION;
    </script>
    <script src='/js/utils.js'></script>

  </head>
